<!DOCTYPE html>
<%- include('../partials/head') %>
<body class="layout-light side-menu">
   <%- include('../partials/header') %>
   <main class="main-content">
      <%- include('../partials/sidebar') %>
      <div class="contents">
         <div class="demo7 mb-25 t-thead-bg">
            <div class="container-fluid">
               <div class="row ">
                  <div class="col-lg-12">
                     <div class="breadcrumb-main">
                        <h4 class="text-capitalize breadcrumb-title">Dashboard</h4>
                        <div class="breadcrumb-action justify-content-center flex-wrap">
                           <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                 <li class="breadcrumb-item"><a href="/dashboard"><i class="uil uil-estate"></i>Dashboard</a></li>
                              </ol>
                           </nav>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-6 mb-25">
                     <div class="card revenueChartTwo border-0">
                        <div class="card-header border-0">
                           <h6>Monthly Profits <small>(First 6 Months)</small></h6>
                        </div>
                        <div class="card-body p-0">
                           <div class="tab-content">
                              <div class="tab-pane fade active show" id="t_selling-month" role="tabpanel" aria-labelledby="t_selling-month-tab">
                                 <div class="selling-table-wrap">
                                    <div class="table-responsive">
                                       <table class="table table--default table-borderless ">
                                          <thead>
                                             <tr>
                                                <th>Month</th>
                                                <th>Income</th>
                                                <th>Expense</th>
                                                <th>Profit</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <% for( let i = 0; i < 6; i++ ) { %>
                                                <% if (month[i].income==0) { %>
                                                   <tr>
                                                      <td>
                                                         <div class="selling-product-img d-flex align-items-center">
                                                            <span style="margin-left: 12px;"><%= month[i].name %></span>
                                                         </div>
                                                      </td>
                                                      <td>-</td>
                                                      <td>-</td>
                                                      <td>-</td>
                                                   </tr>
                                                <% } else {%>
                                                   <tr>
                                                      <td>
                                                         <div class="selling-product-img d-flex align-items-center">
                                                            <span style="margin-left: 12px;"><%= month[i].name %></span>
                                                         </div>
                                                      </td>
                                                      <td><%= month[i].income %> TL</td>
                                                      <td><%= month[i].expense %> TL</td>
                                                      <td><%= (month[i].income-month[i].expense) %> TL</td>
                                                   </tr>
                                                   <% } %>
                                             <% } %>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-6 mb-25">
                     <div class="card revenueChartTwo border-0">
                        <div class="card-header border-0">
                           <h6>Monthly Profits<small>(Last 6 Month)</small></h6>
                        </div>
                        <div class="card-body p-0">
                           <div class="tab-content">
                              <div class="tab-pane fade active show" id="t_selling-month" role="tabpanel" aria-labelledby="t_selling-month-tab">
                                 <div class="selling-table-wrap">
                                    <div class="table-responsive">
                                       <table class="table table--default table-borderless ">
                                          <thead>
                                             <tr>
                                                <th>Month</th>
                                                <th>Income</th>
                                                <th>Expense</th>
                                                <th>Profit</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <% for( let i = 6; i < 12; i++ ) { %>
                                                <% if (month[i].income==0) { %>
                                                   <tr>
                                                      <td>
                                                         <div class="selling-product-img d-flex align-items-center">
                                                            <span style="margin-left: 12px;"><%= month[i].name %></span>
                                                         </div>
                                                      </td>
                                                      <td>-</td>
                                                      <td>-</td>
                                                      <td>-</td>
                                                   </tr>
                                                <% } else {%>
                                                   <tr>
                                                      <td>
                                                         <div class="selling-product-img d-flex align-items-center">
                                                            <span style="margin-left: 12px;"><%= month[i].name %></span>
                                                         </div>
                                                      </td>
                                                      <td><%= month[i].income %> TL</td>
                                                      <td><%= month[i].expense %> TL</td>
                                                      <td><%= (month[i].income-month[i].expense) %> TL</td>
                                                   </tr>
                                                   <% } %>
                                             <% } %>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-3 col-sm-6  col-ssm-12 mb-25">
                     <div class="ap-po-details ap-po-details--luodcy  overview-card-shape radius-xl d-flex justify-content-between">
                        <div class=" ap-po-details-content d-flex flex-wrap justify-content-between w-100">
                           <div class="ap-po-details__titlebar">
                              <p>Total Incomes</p>
                              <h1><%= income %> TL</h1>
                              <div class="ap-po-details-time">
                              </div>
                           </div>
                           <div class="ap-po-details__icon-area color-success">
                              <i class="uil uil-usd-circle"></i>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-3 col-sm-6  col-ssm-12 mb-25">
                     <div class="ap-po-details ap-po-details--luodcy  overview-card-shape radius-xl d-flex justify-content-between">                        <div class=" ap-po-details-content d-flex flex-wrap justify-content-between w-100">
                        <div class="ap-po-details__titlebar">
                           <p>Total Expenses</p>
                              <h1><%= expense %> TL</h1>
                           <div class="ap-po-details-time">
                           </div>
                        </div>
                        <div class="ap-po-details__icon-area color-danger">
                           <i class="uil uil-usd-circle"></i>
                        </div>
                     </div>
                  </div>
                  </div>
                  <div class="col-xxl-3 col-sm-6  col-ssm-12 mb-25">
                     <div class="ap-po-details ap-po-details--luodcy  overview-card-shape radius-xl d-flex justify-content-between">
                        <div class=" ap-po-details-content d-flex flex-wrap justify-content-between w-100">
                           <div class="ap-po-details__titlebar">
                              <p>Policies</p>
                              <h1><%= policy %></h1>
                              <div class="ap-po-details-time">
                              </div>
                           </div>
                           <div class="ap-po-details__icon-area color-primary">
                              <i class="uil uil-briefcase-alt"></i>
                           </div>
                        </div>
                     </div> 
                  </div>
                  <div class="col-xxl-3 col-sm-6  col-ssm-12 mb-25">
                     <div class="ap-po-details ap-po-details--luodcy  overview-card-shape radius-xl d-flex justify-content-between">
                        <div class=" ap-po-details-content d-flex flex-wrap justify-content-between w-100">
                           <div class="ap-po-details__titlebar">
                              <p>Insureds</p>
                              <h1><%= insured %></h1>
                              <div class="ap-po-details-time">
                              </div>
                           </div>
                           <div class="ap-po-details__icon-area color-secondary">
                              <i class="uil uil-users-alt"></i>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-4 mb-25">
                     <div class="card border-0 px-25">
                        <div class="card-header px-0 border-0">
                           <h6>Policy Types</h6>
                           <div class="card-extra">
                           </div>
                        </div>
                        <div class="card-body p-0">
                           <div class="tab-content">
                              <div class="tab-pane fade active show" id="t_selling-month" role="tabpanel" aria-labelledby="t_selling-month-tab">
                                 <div class="selling-table-wrap">
                                    <div class="table-responsive">
                                       <table class="table table--default table-borderless ">
                                          <thead>
                                             <tr>
                                                <th>Type of Policies</th>
                                                <th>Number of Policies</th>
                                                <th>Income</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <% for( let i = 0; i < policyTypes.length; i++ ) { %>
                                             <tr>
                                                <td>
                                                   <div class="selling-product-img d-flex align-items-center">
                                                      <span style="margin-left: 12px;"><%= policyTypes[i] %></span>
                                                   </div>
                                                </td>
                                                <td><%= countPolicy[i] %></td>
                                                <td><%= incomePolicy[i] %> TL</td>
                                             </tr>
                                             <% } %>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
                  <div class="col-xxl-4 mb-25">
                     <div class="card border-0 px-25">
                        <div class="card-header px-0 border-0">
                           <h6>Insurance Companies</h6>
                           <div class="card-extra">
                           </div>
                        </div>
                        <div class="card-body p-0">
                           <div class="tab-content">
                              <div class="tab-pane fade active show" id="t_selling-month333" role="tabpanel" aria-labelledby="t_selling-month333-tab">
                                 <div class="selling-table-wrap selling-table-wrap--source">
                                    <div class="table-responsive">
                                       <table class="table table--default table-borderless">
                                          <thead>
                                             <tr>
                                                <th>Company Name</th>
                                                <th>Number of Policies</th>
                                                <th>Income</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <% for( let i = 0; i < company.length; i++ ) { %>
                                                <tr>
                                                   <td>
                                                      <div class="selling-product-img d-flex align-items-center">
                                                         <span style="margin-left: 12px;"><%= company[i] %></span>
                                                      </div>
                                                   </td>
                                                   <td><%= countCompany[i] %></td>
                                                   <td><%= incomeCompany[i] %> TL</td>
                                                </tr>
                                             <% } %>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-4 mb-25">
                     <div class="card border-0 px-25 h-100">
                        <div class="card-header px-0 border-0">
                           <h6>Agencies</h6>
                           <div class="card-extra">
                           </div>
                        </div>
                        <div class="card-body p-0">
                           <div class="tab-content">
                              <div class="tab-pane fade active show" id="t_selling-month-Source22" role="tabpanel" 
                              aria-labelledby="t_selling-month-Source22-tab">
                                 <div class="selling-table-wrap selling-table-wrap--source">
                                    <div class="table-responsive">
                                       <table class="table table--default table-borderless">
                                          <thead>
                                             <tr>
                                                <th>Agency Name</th>
                                                <th>Number of Policies</th>
                                                <th>Income</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <% for( let i = 0; i < agency.length; i++ ) { %>
                                                <tr>
                                                   <td>
                                                      <div class="selling-product-img d-flex align-items-center">
                                                         <span style="margin-left: 12px;"><%= agency[i] %></span>
                                                      </div>
                                                   </td>
                                                   <td><%= countAgency[i] %></td>
                                                   <td><%= incomeAgency[i] %> TL</td>
                                                </tr>
                                             <% } %>
                                             
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <%- include('../partials/modal') %>
      <%- include('../partials/footer') %>
   </main>
   <%- include('../partials/script') %>
</body>
</html>