<!DOCTYPE html>
<%- include('../partials/head') %>
<body class="layout-light side-menu">
   <%- include('../partials/header') %>
   <main class="main-content">
      <%- include('../partials/sidebar') %>
      <div class="contents">

         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">
                  <div class="d-flex align-items-center user-member__title mb-30 mt-30">
                     <h4 class="text-capitalize">Edit User</h4>
                  </div>
               </div>
            </div>
            <div class="col-4">
            <div class="card mb-50">
               <div class="row justify-content-center">
                  <div class="col-md-10">
                     <div class="mt-40 mb-50">
                        <div class="edit-profile__body">
                           <form method="post">
                              <div class="form-group mb-20">
                                 <label>Name:</label>
                                 <input type="name" name="name" class="form-control form-control-lg" placeholder="<%= user.employee.name %>">
                              </div>
                              <div class="form-group mb-20">
                                 <label>Email:</label>
                                 <input type="email" name="email" class="form-control form-control-lg" placeholder="<%= user.employee.email %>">
                              </div>
                              <div class="form-group mb-20">
                                 <label>Password</label>
                                 <input type="password" name="password" class="form-control form-control-lg" placeholder="********">
                              </div>
                              <div class="form-group mb-20">
                                 <label for="agency">
                                    Agency
                                 </label>
                                 <select class="js-example-basic-single js-states form-control" name="agency">
                                    <option value="">Select Agency</option>
                                    <% for( let i = 0; i < agencyList.length; i++ ) { %>
                                       <option value="<%= agencyList[i]._id %>"><%= agencyList[i].name %></option>
                                    <% } %>
                                 </select>
                              </div>
                              <div class="form-group mb-20">
                                 <label for="job">Job</label>
                                 <select class="js-example-basic-single js-states form-control" name="job">
                                    <option value="">Select Job</option>
                                    <% for( let i = 0; i < jobList.length; i++ ) { %>
                                       <option value="<%= jobList[i] %>"><%= jobList[i] %></option>
                                    <% } %>
                                 </select>
                              </div>
                              <div class="button-group d-flex pt-20">
                                 <button  type="submit" class="btn btn-primary btn-default btn-squared">Update</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </div>
      <%- include('../partials/modal') %>
      <%- include('../partials/footer') %>
   </main>
   <%- include('../partials/script') %>
</body>
</html>