<!DOCTYPE html>
<%- include('../partials/head') %>
<body class="layout-light side-menu">
   <%- include('../partials/header') %>
   <main class="main-content">
      <%- include('../partials/sidebar') %>
      <div class="contents">

         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">

                  <div class="breadcrumb-main">
                     <h4 class="text-capitalize breadcrumb-title">Edit Employee</h4>
                     <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                           <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/dashboard"><i class="uil uil-estate"></i>Dashboard</a></li>
                              <li class="breadcrumb-item"><a href="#">Transactions</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Edit Employee</li>
                           </ol>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6">
                  
                  <div class="card card-horizontal card-default card-md mb-4">
                     <div class="card-header">
                        <h6>Change Employee Informations</h6>
                     </div>
                     <div class="card-body py-md-30">
                        <div class="horizontal-form">
                           <form method="post">
                              <div class="form-group row mb-25">
                                 <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="name" class=" col-form-label color-dark fs-14 fw-500 align-center">Name</label>
                                 </div>
                                 <div class="col-sm-9">
                                    <input type="name" class="form-control ih-medium ip-gray radius-xs b-light px-15" 
                                    name="name" placeholder="<%= employee.name %>">
                                 </div>
                              </div>
                              <div class="form-group row mb-25">
                                 <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="nationality" class=" col-form-label color-dark fs-14 fw-500 align-center">Nationality</label>
                                 </div>
                                 <div class="col-sm-9 radio-theme-default custom-radio ">
                                    <% if (employee.nationality=="T.C") { %>
                                       <input class="radio" type="radio" name="nationality" value="T.C" id="radio-un2" checked>
                                       <label for="radio-un2">
                                          <span class="radio-text">T.C</span>
                                       </label>&nbsp&nbsp
                                       <input class="radio" type="radio" name="nationality" value="Others" id="radio-un4">
                                       <label for="radio-un4">
                                          <span class="radio-text">Others</span>
                                       </label>
                                    <% } else if(employee.nationality=="Others"){ %>
                                       <input class="radio" type="radio" name="nationality" value="T.C" id="radio-un2">
                                       <label for="radio-un2">
                                          <span class="radio-text">T.C</span>
                                       </label>&nbsp&nbsp
                                       <input class="radio" type="radio" name="nationality" value="Others" id="radio-un4" checked>
                                       <label for="radio-un4">
                                          <span class="radio-text">Others</span>
                                       </label>
                                    <% } %>
                                   
                                 </div>
                              </div>
                              <div class="form-group row mb-25">
                                 <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="passport" class=" col-form-label color-dark fs-14 fw-500 align-center">T.C or Passport ID</label>
                                 </div>
                                 <div class="col-sm-9">
                                    <input type="passport" class="form-control ih-medium ip-gray radius-xs b-light px-15" 
                                    name="passport" placeholder="<%= employee.passport %>">
                                 </div>
                              </div>
                              <div class="form-group row mb-25">
                                 <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="sgk" class=" col-form-label color-dark fs-14 fw-500 align-center">SGK No.</label>
                                 </div>
                                 <div class="col-sm-9">
                                    <input type="sgk" class="form-control ih-medium ip-gray radius-xs b-light px-15" 
                                    name="sgk" placeholder="<%= employee.sgk %>">
                                 </div>
                              </div>
                              <div class="form-group row mb-25">
                                 <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="birthdate" class=" col-form-label color-dark fs-14 fw-500 align-center">Birthdate</label>
                                 </div>
                                 <div class="col-sm-9">
                                    <input type="birthdate" class="form-control ih-medium ip-gray radius-xs b-light px-15" 
                                    name="birthdate" placeholder="<%= employee.birthdate %>">
                                 </div>
                              </div>
                              <div class="form-group row mb-25">
                                 <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="email" class="col-form-label  color-dark fs-14 fw-500 align-center">Email</label>
                                 </div>
                                 <div class="col-sm-9">
                                    <input type="email" class="form-control  ih-medium ip-gray radius-xs b-light px-15" 
                                    name="email" placeholder="<%= employee.email %>">
                                 </div>
                              </div>
                              <div class="form-group row mb-25">
                                 <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="phone" class=" col-form-label color-dark fs-14 fw-500 align-center">Phone Number</label>
                                 </div>
                                 <div class="col-sm-9">
                                    <input type="phone" class="form-control ih-medium ip-gray radius-xs b-light px-15" 
                                    name="phone" placeholder="<%= employee.phone %>">
                                 </div>
                              </div>
                              
                              <div class="form-group row mb-25">
                                 <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="agency" class=" col-form-label color-dark fs-14 fw-500 align-center">Agency</label>
                                 </div>
                                 <div class="col-sm-9">
                                    <select class="form-control px-15" name="agency">
                                       <option value="">Select Agency</option>
                                       <% for( let i = 0; i < agencyList.length; i++ ) { %>
                                          <option value="<%= agencyList[i]._id %>"><%= agencyList[i].name %></option>
                                       <% } %>
                                    </select>
                                 </div>
                              </div>
                              <div class="form-group row mb-25">
                                 <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="job" class=" col-form-label color-dark fs-14 fw-500 align-center">Job</label>
                                 </div>
                                 <div class="col-sm-9">
                                    <select class="js-example-basic-single js-states form-control" name="job">
                                       <option value="">Select Job</option>
                                       <% for( let i = 0; i < jobList.length; i++ ) { %>
                                          <option value="<%= jobList[i] %>"><%= jobList[i] %></option>
                                       <% } %>
                                    </select>
                                 </div>
                              </div>
                              <div class="form-group row mb-25">
                                 <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="salary" class=" col-form-label color-dark fs-14 fw-500 align-center">Salary</label>
                                 </div>
                                 <div class="col-sm-9">
                                    <input type="salary" class="form-control ih-medium ip-gray radius-xs b-light px-15" 
                                    name="salary" placeholder="<%= employee.salary %>">
                                 </div>
                              </div>
                              <div class="form-group row mb-0">
                                    <div class="layout-button mt-25">
                                       <button type="submit" class="btn btn-primary btn-default btn-squared px-30">Update</button>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
               </div>
            </div>
         </div>

      </div>
      <%- include('../partials/modal') %>
      <%- include('../partials/footer') %>
   </main>
   <%- include('../partials/script') %>
</body>
</html>