<!DOCTYPE html>
<%- include('../partials/head') %>
<body class="layout-light side-menu">
   <%- include('../partials/header') %>
   <main class="main-content">
      <%- include('../partials/sidebar') %>
      <div class="contents">

         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">

                  <div class="breadcrumb-main">
                     <h4 class="text-capitalize breadcrumb-title">Edit Agency</h4>
                     <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                           <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/dashboard"><i class="uil uil-estate"></i>Dashboard</a></li>
                              <li class="breadcrumb-item"><a href="#">Transactions</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Edit Agency</li>
                           </ol>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6">
                  
                  <div class="card card-horizontal card-default card-md mb-4">
                     <div class="card-header">
                        <h6>Change Agency Informations</h6>
                     </div>
                     <div class="card-body py-md-30">
                        <div class="horizontal-form">
                           <form method="post">
                              <div class="form-group row mb-25">
                                 <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="name" class=" col-form-label color-dark fs-14 fw-500 align-center">Agency Name</label>
                                 </div>
                                 <div class="col-sm-9">
                                    <input type="name" class="form-control ih-medium ip-gray radius-xs b-light px-15" 
                                    name="name" placeholder="<%= agency.name %>">
                                 </div>
                              </div>
                              <div class="form-group row mb-25">
                                 <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="tax" class=" col-form-label color-dark fs-14 fw-500 align-center">Tax No.</label>
                                 </div>
                                 <div class="col-sm-9">
                                    <input type="tax" class="form-control ih-medium ip-gray radius-xs b-light px-15" 
                                    name="tax" placeholder="<%= agency.tax %>">
                                 </div>
                              </div>
                              <div class="form-group row mb-25">
                                 <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="manager" class=" col-form-label color-dark fs-14 fw-500 align-center">Agency Manager</label>
                                 </div>
                                 <div class="col-sm-9">
                                    <input type="manager" class="form-control ih-medium ip-gray radius-xs b-light px-15" 
                                    name="manager" placeholder="<%= agency.manager %>">
                                 </div>
                              </div>
                              <div class="form-group row mb-25">
                                 <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="managerPassport" class=" col-form-label color-dark fs-14 fw-500 align-center">Manager <br> T.C or Passport No.</label>
                                 </div>
                                 <div class="col-sm-9">
                                    <input type="managerPassport" class="form-control ih-medium ip-gray radius-xs b-light px-15" 
                                    name="managerPassport" placeholder="<%= agency.managerPassport %>">
                                 </div>
                              </div>
                              <div class="form-group row mb-25">
                                 <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="address" class=" col-form-label color-dark fs-14 fw-500 align-center">Adress</label>
                                 </div>
                                 <div class="col-sm-9">
                                    <input type="address" class="form-control ih-medium ip-gray radius-xs b-light px-15" 
                                    name="address" placeholder="<%= agency.address %>">
                                 </div>
                              </div>
                              <div class="form-group row mb-25">
                                 <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="phone" class=" col-form-label color-dark fs-14 fw-500 align-center">Phone Number</label>
                                 </div>
                                 <div class="col-sm-9">
                                    <input type="phone" class="form-control ih-medium ip-gray radius-xs b-light px-15" 
                                    name="phone" placeholder="<%= agency.phone %>"> 
                                 </div>
                              </div>
                              <div class="form-group row mb-0">
                                    <div class="layout-button mt-25">
                                       <button type="submit" class="btn btn-primary btn-default btn-squared px-30">Update</button>
                                    </div>
                              </div>
                           </form>
                              </div>
                           
                        </div>
                     </div>
               </div>
            </div>
         </div>
      <%- include('../partials/modal') %>
      <%- include('../partials/footer') %>
   </main>
   <%- include('../partials/script') %>
</body>
</html>