<!DOCTYPE html>
<%- include('../partials/head') %>
<body class="layout-light side-menu">
   <%- include('../partials/header') %>
   <main class="main-content">
      <%- include('../partials/sidebar') %>
      <div class="contents">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">
                  <div class="breadcrumb-main">
                     <h4 class="text-capitalize breadcrumb-title">Frequently Asked Questions</h4>
                     <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                           <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/dashboard"><i class="uil uil-estate"></i>Home</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Frequently Asked Questions</li>
                           </ol>
                        </nav>
                     </div>
                  </div>

               </div>
            </div>
            <div class="row">
               </div>
               <div class="col-xxl-9 col-xl-8 col-sm-7">
                  <div class="mb-30">
                     <div class="tab-content" id="v-pills-tabContent">
                        <div class="card h-100 shadow-lg pb-md-50 pb-30 mb-md-50 mb-30">
                              <div class="border-bottom-0 mt-30">
                              </div>
                              <div class="card-body pt-0">
                                 <div class="application-faqs">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                       <div class="panel panel-default">
                                          <div class="panel-heading" role="tab" id="heading1">
                                             <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true">
                                                   What Does Traffic Insurance Cover?
                                                </a>
                                             </h4>

                                          </div>
                                          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                             <div class="panel-body">
                                                <p class="mb-sm-35 mb-20">Compulsory traffic insurance covers;<br>
                                                   1. Damages suffered by the other party as a result of a traffic accident,<br>
                                                   2. Damages to the goods of third parties.<br>
                                                   3. Damages to public assets unintentionally.<br>
                                                   4. Bodily damage to third parties.</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-default">
                                          <div class="panel-heading" role="tab" id="heading2">
                                             <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true">
                                                   How Much is Traffic Insurance?
                                                </a>
                                             </h4>

                                          </div>
                                          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                             <div class="panel-body">
                                                <p class="mb-sm-35 mb-20">Traffic insurance prices; It varies according to the province where the 
                                                   vehicle is registered, the type of vehicle and the damage levels. While the insurance 
                                                   companies submit offers for traffic insurance, they are based on the traffic insurance 
                                                   ceiling prices.</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-default">
                                          <div class="panel-heading" role="tab" id="heading3">
                                             <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true">
                                                   What Happens If Traffic Insurance Is Not Made?
                                                </a>
                                             </h4>

                                          </div>
                                          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                             <div class="panel-body">
                                                <p class="mb-sm-35 mb-20">Vehicle owners who do not have traffic insurance will pay a fine of 
                                                   2600 TL for not having traffic insurance in 2023. However, vehicle owners who do not have 
                                                   insurance lose their no claim discount and when it is determined by the competent authorities
                                                    that they are not insured, the vehicle owner is banned from traffic.</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-default">
                                          <div class="panel-heading" role="tab" id="heading4">
                                             <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true">
                                                   What Included in the Scope of Personal Goods?
                                                </a>
                                             </h4>

                                          </div>
                                          <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                             <div class="panel-body">
                                                <p class="mb-sm-35 mb-20">Personal property guarantee; It guarantees non-commercial private 
                                                   goods belonging to the insured and the family members of the insured, within certain limits. 
                                                   Commercial goods, jewellery, valuable papers such as checks, promissory notes, credit cards, 
                                                   money, and electronic devices such as mobile phones, computers, cameras are excluded from the 
                                                   coverage.</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-default">
                                          <div class="panel-heading" role="tab" id="heading5">
                                             <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true">
                                                   Does Insurance Cover the Damage in an Alcoholic Accident?
                                                </a>
                                             </h4>

                                          </div>
                                          <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                             <div class="panel-body">
                                                <p class="mb-sm-35 mb-20">If the driver is drunk above the legal limit, no payment will be made 
                                                   by the motor insurance.</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-default">
                                          <div class="panel-heading" role="tab" id="heading6">
                                             <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true">
                                                   What is DASK Insurance?
                                                </a>
                                             </h4>

                                          </div>
                                          <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                             <div class="panel-body">
                                                <p class="mb-sm-35 mb-20">DASK insurance; It is a compulsory earthquake insurance that is
                                                    mandatory in Turkey and provides assurance against earthquakes and damages that may be
                                                     directly caused by an earthquake.</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-default">
                                          <div class="panel-heading" role="tab" id="heading7">
                                             <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true">
                                                   What is Property Insurance?
                                                </a>
                                             </h4>

                                          </div>
                                          <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                                             <div class="panel-body">
                                                <p class="mb-sm-35 mb-20">Goods insurance; It is an insurance that secures the belongings in 
                                                   your home against different risks such as theft, disaster or natural disaster within the 
                                                   scope of guarantees.</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-default">
                                          <div class="panel-heading" role="tab" id="heading8">
                                             <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true">
                                                   What Items and Appliances Does Property Insurance Cover?
                                                </a>
                                             </h4>

                                          </div>
                                          <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                                             <div class="panel-body">
                                                <p class="mb-sm-35 mb-20">The items and tools covered by the item insurance are as follows: <br>
                                                   1. Furniture <br>
                                                   2. Electronic items <br>
                                                   3. Personal belongings <br>
                                                   4. Valuable documents and cash, gold and foreign currency <br>
                                                   5. Items found in the garage</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-default">
                                          <div class="panel-heading" role="tab" id="heading9">
                                             <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true">
                                                   What is Health Insurance?
                                                </a>
                                             </h4>

                                          </div>
                                          <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                                             <div class="panel-body">
                                                <p class="mb-sm-35 mb-20">Private health insurance is an insurance that allows you to receive 
                                                   services in contracted private health institutions in unexpected situations such as accident 
                                                   or illness, and guarantees your diagnosis, treatment and medication expenses.</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-default">
                                          <div class="panel-heading" role="tab" id="heading10">
                                             <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true">
                                                   In Which Situations Does Traffic Insurance Not Pay?
                                                </a>
                                             </h4>

                                          </div>
                                          <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                                             <div class="panel-body">
                                                <p class="mb-sm-35 mb-20">
                                                   1. Traffic insurance does not pay in cases where the insured vehicle is not in traffic.<br>
                                                   2. In cases where the owner of the insured vehicle causes an accident and is found to be 
                                                   at fault, the damages of the vehicle of the insured person are not covered by the traffic insurance. 
                                                   Even if the family of the insured who caused the accident is in the vehicle, their material or moral 
                                                   compensation claims are not covered.<br>
                                                   3. Losses of goods carried in the vehicle, except for luggage and similar belongings of those in the 
                                                   vehicle at the time of the accident, are not covered by traffic insurance.     <br>                                              
                                                   4. Compensation claims requested due to indirect damages such as business interruption, loss of 
                                                   income or profit and rental deprivation due to the vehicle involved in the accident are not covered 
                                                   by traffic insurance.<br>
                                                   5. Accidents caused by stolen or usurped vehicles are not covered by traffic insurance.      <br>                                             
                                                   6. Accidents caused by vehicles in service due to maintenance-repair, purchase-sales are not covered 
                                                   by traffic insurance.<br>
                                                   7. In cases where the two vehicles involved in a traffic accident belong to the same person, 
                                                   the traffic insurance does not pay since there is no third person involved in the accident.</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-default">
                                          <div class="panel-heading" role="tab" id="heading11">
                                             <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true">
                                                   What is Traffic Insurance?
                                                </a>
                                             </h4>

                                          </div>
                                          <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                                             <div class="panel-body">
                                                <p class="mb-sm-35 mb-20">Traffic insurance is a type of insurance that is made for road vehicles 
                                                   and is compulsory for everyone who wants to put their vehicle on the road. Mandatory traffic 
                                                   insurance provides coverage for damages to other vehicles and third parties as a result of a 
                                                   possible accident.</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-default">
                                          <div class="panel-heading" role="tab" id="heading12">
                                             <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="true">
                                                   Is Traffic Insurance Mandatory?
                                                </a>
                                             </h4>

                                          </div>
                                          <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
                                             <div class="panel-body">
                                                <p class="mb-sm-35 mb-20">Yes, traffic insurance is compulsory for all vehicle owners by the state.</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-default">
                                          <div class="panel-heading" role="tab" id="heading13">
                                             <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="true">
                                                   What Amount Will The Insurance Company Pay If My Vehicle Is Stolen or Pert?
                                                </a>
                                             </h4>

                                          </div>
                                          <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
                                             <div class="panel-body">
                                                <p class="mb-sm-35 mb-20">The amount to be paid when the vehicle is stolen or pert is calculated 
                                                   over the current market value of the vehicle.</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-default">
                                          <div class="panel-heading" role="tab" id="heading14">
                                             <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="true">
                                                   What is Casco Insurance?
                                                </a>
                                             </h4>

                                          </div>
                                          <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
                                             <div class="panel-body">
                                                <p class="mb-sm-35 mb-20">Car insurance is the insurance that insures your vehicle against 
                                                   risks such as fire, theft, crash, collision, theft or attempted theft, and damage caused 
                                                   by accident.</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-default">
                                          <div class="panel-heading" role="tab" id="heading15">
                                             <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="true">
                                                   What Damages Does DASK Pay?
                                                </a>
                                             </h4>

                                          </div>
                                          <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
                                             <div class="panel-body">
                                                <p class="mb-sm-35 mb-20">With TCIP, that is, compulsory earthquake insurance, material damages caused 
                                                   by earthquake and earthquake, fire, tsunami, explosion and landslide are covered.</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-default">
                                          <div class="panel-heading" role="tab" id="heading16">
                                             <h4 class="panel-title">
                                                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="true">
                                                   What Does Health Insurance Cover?
                                                </a>
                                             </h4>

                                          </div>
                                          <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
                                             <div class="panel-body">
                                                <p class="mb-sm-35 mb-20">
                                                   1. Diseases that existed before the insurance policy <br>
                                                   2. Congenital diseases<br>
                                                   3. Genetic diseases<br>
                                                   4. Treatment costs related to spinal curvature and obesity<br>
                                                   5. Aesthetic expenses<br>
                                                   6. Dietitian expenses<br>
                                                   7. Treatment costs due to suicide attempt<br>
                                                   8. Treatment expenses incurred in non-contracted institutions</p>
                                             </div>
                                          </div>
                                       </div>
                                       
                                    </div>
                                 </div>
                              </div>
                           </div>
                     </div>
                  </div>
               </div><!-- ends: col -->
            </div>
         </div>
      <%- include('../partials/modal') %>
      <%- include('../partials/footer') %>
   </main>
   <%- include('../partials/script') %>
</body>
</html>