<!DOCTYPE html>
<%- include('../partials/head') %>
<body class="layout-light side-menu">
   <%- include('../partials/header') %>
   <main class="main-content">
      <%- include('../partials/sidebar') %>
      <div class="contents">

         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">
                  <div class="breadcrumb-main">
                     <h4 class="text-capitalize breadcrumb-title"><%= monthList[month.split("")[1]-1].name %> Income Report</h4>
                     <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                           <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/dashboard"><i class="uil uil-estate"></i>Dashboard</a></li>
                              <li class="breadcrumb-item"><a href="#">Reports</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Income Report</li>
                           </ol>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="userDatatable orderDatatable sellerDatatable global-shadow mb-30 py-30 px-sm-30 px-20 radius-xl w-100">
                     <div class="table-responsive">
                        <table class="table mb-0 table-borderless border-0">
                           <thead>
                              <tr class="userDatatable-header">
                                 <th scope="col">
                                    <span class="userDatatable-title">Agency Name</span>
                                 </th>
                                 <th scope="col">
                                    <span class="userDatatable-title">Number of Policy</span>
                                 </th>
                                 <th scope="col">
                                    <span class="userDatatable-title">Company Share</span>
                                 </th>
                                 <th scope="col">
                                    <span class="userDatatable-title">Commission</span>
                                 </th>
                                 <th scope="col">
                                    <span class="userDatatable-title">Total Price</span>
                                 </th>
                              </tr>
                           </thead>
                           <tbody>
                              <% for( let i = 0; i < agency.length; i++ ) { %>
                           <tr>
                              <td>
                                 <div class="orderDatatable-title">
                                    <%= agency[i].name %> 
                                 </div>
                              </td>
                              <td>
                                 <div class="orderDatatable-title">
                                    <%= count[i] %>
                                 </div>
                              </td>
                              <td>
                                 <div class="orderDatatable-title">
                                    <%= companyShare[i] %> TL
                                 </div>
                              </td>
                              <td>
                                 <div class="orderDatatable-title">
                                    <%= commission[i] %> TL
                                 </div>
                              </td>
                              <td>
                                 <div class="orderDatatable-title">
                                    <%= totalPrice[i] %> TL
                                 </div>
                              </td>
                     </tr>
                     <% } %>
                           </tbody>
                        </table>
                     </div>
                     <div class="d-flex justify-content-end mt-15 pt-25 border-top">
                        <!-- <nav class="dm-page ">
                           <ul class="dm-pagination d-flex">
                              <li class="dm-pagination__item">
                                 <a href="#" class="dm-pagination__link pagination-control"><span class="la la-angle-left"></span></a>
                                 <a href="#" class="dm-pagination__link"><span class="page-number">1</span></a>
                                 <a href="#" class="dm-pagination__link active"><span class="page-number">2</span></a>
                                 <a href="#" class="dm-pagination__link"><span class="page-number">3</span></a>
                                 <a href="" class="dm-pagination__link pagination-control"><span class="page-number">...</span></a>
                                 <a href="#" class="dm-pagination__link"><span class="page-number">5</span></a>
                                 <a href="#" class="dm-pagination__link pagination-control"><span class="la la-angle-right"></span></a>
                                 <a href="#" class="dm-pagination__option">
                                 </a>
                              </li>
                           </ul>
                        </nav> -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div>
      <%- include('../partials/modal') %>
      <%- include('../partials/footer') %>
   </main>
   <%- include('../partials/script') %>
</body>
</html>